<div class="panel">
  <div class="row">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="food" class="col-sm-2 control-label">Food Search</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="food_name" placeholder="Food name">
        </div>
      </div>
    </form>

    <div id="loading_div">
      <h4 class="text-center">Searching foods ...</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" 
        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" 
        style="width: 100%">
          <span class="sr-only">Loading ...</span>
        </div>
      </div>
    </div>

  </div>  
</div>